@import "fonts.css";


/* Position 

1. Static - элемент находится в текущем потоке чтатично (по умолчанию)
2. Relative - 
3. Absolute - элемент выбивается из потока, осьтальные
              элементы не замечают его
4. Fixed -  позиционируется относительно окна просмотра, остальніе єлементі его не 
            замечают         
            
5. Sticky - Совмещает в себе два значения, до того как дойдет окно
           просмотра - relative, после - fixed
           
     z-index: от 0 до 99999      
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 1600px;
}
.main {
    height: 600px;
    padding: 100px;
    border: 1px solid black;
    margin: 100px;
    position: relative;
}

.block {
    width: 20%;
    max-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    transition: transform 2s;
}
.block_red {
    background: red;
    z-index: 1;
    /* position: relative; */
    position: absolute;
    top: 5%;
    left: 10%;
    /* transition: transform 0.3s; */
}
.block_red:hover {
    transform: translate(-20px, 20px);
    /* transform: translateY(-20px); */
}
.block_green {
    background: green;
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 1;
}
.block_green:hover {
    transform: scale(1.1, 1);
}
.block_blue {
    background: blue;
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 0;
    transform: rotate(360deg);
    transform-origin: top left;
}
/* .block_blue:hover {
    transform: rotate(90deg);
    transform-origin: top left;
} */
.block_aqua {
    background: aqua;
    /* position: sticky; */
    position: absolute;
    top: 20%;
    left: 70%;
}
.block_aqua:hover {
    /* transform: skewX(-10deg); */
    transform: matrix(1.1, 0, 0.5, 1.3, 40, 10);
}

/* Transform 
1. Translate (TranslateX, TranslateY) - смещение элемента по оси X , Y
2. Scale - масштаб єелемента мен7яет
3. Rotate - поворачивает єлемент на определённый угол
4. Skew - деформирует элемент на определённый угол */